<div class="table-con container">
    <table mat-table [dataSource]="schoolModules" class="table">

        <ng-container matColumnDef="shortcut">
            <th mat-header-cell *matHeaderCellDef> Abkürzung </th>
            <td mat-cell *matCellDef="let element"> {{element.shortcut}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div class="button-con container">
    <button mat-raised-button (click)="openPopup()" class="erfassen-button" color="primary">Neues Fach erfassen</button>
</div>


<mat-card class="card-container">
    <mat-card-header>
        <mat-card-title>Fach erfassen</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form>
            <mat-form-field class="full-width">
                <input matInput placeholder="Abkürzung" />
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Fachname" />
            </mat-form-field>

            <div class="button-container">
                <button mat-button color="warn">Abbrechen</button>
                <button mat-button color="primary">Fach hinzufügen</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
