.table {
  width: 80vw;
  border: black solid 5px;
}

.container, {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.table-con {
  height:50vh;
}

.erfassen-button {
  width: 80vw;
}
