<div class="erfassen-popup">

    <mat-card-title>Fach erfassen</mat-card-title>

    <form>
        <mat-form-field class="full-width">
            <input matInput placeholder="Abkürzung"/>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Fachname"/>
        </mat-form-field>

        <div class="button-container">
            <button mat-button color="warn">Abbrechen</button>
            <button mat-button color="primary">Fach hinzufügen</button>
        </div>
    </form>

</div>
