.table {
  width: 80vw;
  border: black solid 2px;
}

.container, {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.table-con {
  height:50vh;
}

.erfassen-button {
  width: 80vw;
}

.card-container {
  width: 400px;
  margin: 50px auto auto;
}

.full-width {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

