<server description="Sample Liberty server">
    <featureManager>
        <feature>restfulWS-3.1</feature>
        <feature>cdi-4.0</feature>
        <feature>persistence-3.1</feature>
        <feature>jdbc-4.3</feature>
    </featureManager>
    <variable name="default.http.port" defaultValue="9080" />
    <variable name="default.https.port" defaultValue="9443" />

    <httpEndpoint host="*" httpPort="${default.http.port}"
                  httpsPort="${default.https.port}" id="defaultHttpEndpoint" />

    <enterpriseApplication id="stundenplaner-ear"
                           location="stundenplaner-ear-1.0-SNAPSHOT.ear"
                           name="stundenplaner-ear" />

    <library id="jdbcLib">
        <fileset dir="jdbc" includes="*.jar"/>
    </library>

    <dataSource jndiName="jdbc/stundenplaner">
        <jdbcDriver libraryRef="jdbcLib"/>
        <properties serverName="127.0.0.1" portNumber="3306"
                    databaseName="stundenplaner"
                    user="stundenplaner"
                    password="Verygoodpassword123"/>
    </dataSource>

    <logging traceSpecification="JPA=all" />
</server>