<div class="erfassen-popup">
    <mat-card-title>Fach erfassen</mat-card-title>
    <form>
        <mat-form-field class="full-width">
            <input [(ngModel)]="shortName" [ngModelOptions]="{ standalone: true }" matInput placeholder="Abkürzung"/>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input [(ngModel)]="longName" [ngModelOptions]="{ standalone: true }" matInput placeholder="Fachname"/>
        </mat-form-field>

        <div class="button-container">
            <button mat-button color="warn">Abbrechen</button>
            <button mat-button color="primary" (click)="addSubject()">Fach hinzufügen</button>
        </div>
    </form>
</div>
